<nz-spin [nzSpinning]="isLoading" id="particles-container">
  <div
    class="flex flex-col w-full px-4 min-h-fit md:flex-row"
    [ngClass]="userPref.themeText"
  >
    <!-- Contact Form Section -->
    <div
      class="flex flex-col w-full p-8 md:flex-1 md:min-h-screen md:items-center md:justify-center"
    >
      <div
        class="flex justify-center mb-2 md:justify-end"
        [nz-tooltip]="'Turn this on to request more info about me.'"
      >
        <label
          for="toggleMode"
          [ngClass]="userPref.themeText"
          class="mr-2 text-sm font-medium md:text-base"
          >Request mode</label
        >
        <nz-switch
          id="toggleMode"
          [(ngModel)]="isReqAccessForm"
          (ngModelChange)="onModelChange()"
        ></nz-switch>
      </div>

      <h2
        class="py-2 mb-4 text-2xl font-bold text-center {{
          userPref.themeText
        }}"
      >
        {{ isReqAccessForm ? "Submit a request" : "Contact" }}
      </h2>

      <form
        [formGroup]="frmGroup"
        (ngSubmit)="onSubmit()"
        class="w-full max-w-md mx-auto"
      >
        <div class="flex flex-col gap-2 md:flex-row">
          <!-- Name Field -->
          <nz-form-item class="flex-1">
            <label
              class="hidden font-medium md:block {{ userPref.themeText }}"
              for="name"
            >
              <span class="text-red-600">*</span> Name:
            </label>
            <nz-form-control>
              <input
                nz-input
                id="name"
                formControlName="name"
                placeholder="Your Name"
                required
                class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-blue-500 {{
                  userPref.themeText
                }}"
                [ngClass]="userPref.inputColor"
              />
            </nz-form-control>
          </nz-form-item>

          <!-- Email Field -->
          <nz-form-item class="flex-1">
            <label
              class="hidden font-medium md:block {{ userPref.themeText }}"
              for="name"
            >
              <span class="text-red-600">*</span> Email:
            </label>
            <nz-form-control>
              <input
                nz-input
                id="email"
                formControlName="email"
                type="email"
                placeholder="Your Email"
                required
                class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-blue-500 {{
                  userPref.themeText
                }}"
                [ngClass]="userPref.inputColor"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- from selection -->
        <nz-form-item *ngIf="isReqAccessForm" class="flex-1">
          <label
            class="hidden font-medium md:block {{ userPref.themeText }}"
            for="howKnow"
          >
            <span class="py-2 text-red-600">*</span>How did you know me? &nbsp;
          </label>

          <nz-select
            class="w-full rounded-lg {{ userPref.themeText }}"
            formControlName="howKnow"
            (ngModelChange)="onSourceChange($event)"
            nzPlaceHolder="Select source"
          >
            <nz-option
              class="{{ userPref.themeText }}"
              *ngFor="let source of sources"
              [nzValue]="source"
              [nzLabel]="source"
            ></nz-option>
          </nz-select>
        </nz-form-item>
        <!-- Message Field -->
        <nz-form-item>
          <nz-form-control>
            <textarea
              nz-input
              #messageInput
              id="message"
              formControlName="message"
              placeholder="Your Message"
              rows="6"
              required
              class="w-full p-2 border rounded-lg min-w-12 focus:ring-2 focus:ring-blue-500 {{
                userPref.themeText
              }}"
              [ngClass]="userPref.inputColor"
            ></textarea>
          </nz-form-control>
        </nz-form-item>

        <!-- Submit Button -->
        <div class="my-4 text-center">
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="!frmGroup.valid || isLoading"
            class="!w-full sm:w-1/2 border"
          >
            <span *ngIf="!isLoading">{{
              isReqAccessForm ? "Send request" : "Send Message"
            }}</span>
            <span *ngIf="isLoading">Sending...</span>
          </button>
        </div>
      </form>
      <!-- Response Time Info -->
      <div
        class="w-4/5 p-4 my-4 text-center transition-all duration-200 border rounded-lg shadow-md text-gray-800/80 dark:text-white/80 bg-white/30 backdrop-blur-lg border-white/20 hover:bg-white/40"
        [ngClass]="userPref.contentBackground"
      >
        <p class="{{ userPref.themeText }}">
          <fa-icon
            [icon]="['fas', 'clock']"
            class="mb-2 {{ userPref.themeText }}"
          ></fa-icon>
          Typical response as soon as I see your message.
        </p>
      </div>
    </div>

    <!-- Right Section with Animation and Social Media -->
    <div
      class="flex flex-col items-center justify-center flex-1 min-h-[200px] gap-6"
    >
      <!-- Lottie Animation -->
      <div class="my-1">
        <app-lottie
          #animationSection
          [animationName]="'floating-labtop.json'"
          [width]="'w-full'"
          [height]="'h-auto'"
        ></app-lottie>
        <p
          *ngIf="isReqAccessForm"
          class="justify-center max-w-md mt-2 text-sm text-center text-gray-800/80 dark:text-white/60"
        >
          This page lets you request access to my more info about me. If I know
          you or think you're a good fit, I’ll send a secure link — valid for 1
          hour only.
        </p>
      </div>

      <!-- Social Media Links -->
      <div class="flex justify-center gap-4 my-2">
        <a *ngFor="let item of icons" target="_blank" href="{{ item.link }}">
          <fa-icon
            [icon]="['fab', item.icon]"
            class="text-2xl transition-all duration-500 ease-in-out cursor-pointer {{
              userPref.themeText
            }}"
          ></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- Quote Section -->
  <div
    *ngIf="isReqAccessForm"
    class="py-8 mt-6 text-center border rounded-lg shadow-md text-gray-800/80 dark:text-white/80 bg-white/30 backdrop-blur-lg border-white/20 hover:bg-white/40"
  >
    <blockquote class="p-4 text-base italic sm:p-1">
      "One of the most basic skills on the football field is knowing how to
      control the ball. Same thing in real life—but the ball’s not always a
      ball."
    </blockquote>
  </div>

  <!-- <button
    [routerLink]="'/app/about-me'"
    nz-button
    [nzSize]="'large'"
    [nzType]="'link'"
    class="flex items-center gap-2 px-5 mt-4 font-medium rounded-lg shadow-sm hover:scale-105 hover:shadow-md"
  >
    <fa-icon [icon]="['fas', 'step-forward']"></fa-icon>
    <span class="transition-opacity duration-300">Home</span>
  </button> -->
</nz-spin>
