.ant-input-status-error {
  background-color: #ffe6e6 !important; /* Light red background */
  color: #d32f2f !important; /* Dark red text */
  border-color: #d32f2f !important; /* Dark red border */
}

.ant-input-status-error::placeholder {
  color: #d32f2f !important; /* Dark red placeholder text */
}

/* Container for particles */
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent the particles from blocking mouse interaction */
  overflow: hidden;
  z-index: 9999;
}

/* Individual particle styles */
.particle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.7);
  animation: particle-animation 1.5s forwards;
}

@keyframes particle-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

::ng-deep .ant-select-selector {
  background-color: transparent !important;
}
