<nz-spin [nzSpinning]="isLoading" id="particles-container">
  <div
    class="flex flex-col w-full px-4 min-h-fit md:flex-row"
    [ngClass]="userPref.themeText"
  >
    <!-- Contact Form Section -->
    <div
      class="flex flex-col w-full p-8 md:flex-1 md:min-h-screen md:items-center md:justify-center"
    >
      <h2
        class="py-2 mb-4 text-2xl font-bold text-center {{
          userPref.themeText
        }}"
      >
        Contact
      </h2>

      <form
        [formGroup]="frmGroup"
        (ngSubmit)="onSubmit()"
        class="w-full max-w-md mx-auto"
      >
        <div class="flex flex-col gap-2 md:flex-row">
          <!-- Name Field -->
          <nz-form-item class="flex-1">
            <label
              class="hidden font-medium md:block {{ userPref.themeText }}"
              for="name"
            >
              <span class="text-red-600">*</span> Name:
            </label>
            <nz-form-control>
              <input
                nz-input
                id="name"
                formControlName="name"
                placeholder="Your Name"
                required
                class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-blue-500 {{
                  userPref.themeText
                }}"
                [ngClass]="userPref.inputColor"
              />
            </nz-form-control>
          </nz-form-item>

          <!-- Email Field -->
          <nz-form-item class="flex-1">
            <label
              class="hidden font-medium md:block {{ userPref.themeText }}"
              for="name"
            >
              <span class="text-red-600">*</span> Email:
            </label>
            <nz-form-control>
              <input
                nz-input
                id="email"
                formControlName="email"
                type="email"
                placeholder="Your Email"
                required
                class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-blue-500 {{
                  userPref.themeText
                }}"
                [ngClass]="userPref.inputColor"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Message Field -->
        <nz-form-item>
          <nz-form-control>
            <textarea
              nz-input
              id="message"
              formControlName="message"
              placeholder="Your Message"
              rows="6"
              required
              class="w-full p-2 border rounded-lg min-w-12 focus:ring-2 focus:ring-blue-500 {{
                userPref.themeText
              }}"
              [ngClass]="userPref.inputColor"
            ></textarea>
          </nz-form-control>
        </nz-form-item>

        <!-- Submit Button -->
        <div class="mt-4 text-center">
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="!frmGroup.valid || isLoading"
            class="!w-full sm:w-1/2 border"
          >
            <span *ngIf="!isLoading">Send Message</span>
            <span *ngIf="isLoading">Sending...</span>
          </button>
        </div>
      </form>
    </div>
    <!-- Lottie Animation Section -->
    <div class="flex items-center justify-center flex-1 min-h-[200px]">
      <app-lottie
        [animationName]="'floating-labtop.json'"
        [width]="'w-full'"
        [height]="'h-auto'"
      ></app-lottie>
    </div>
  </div>
  <!-- Quote Section -->
  <div
    class="py-8 mx-4 mt-6 text-center rounded-lg shadow-sm {{
      userPref.themeBackground
    }}"
  >
    <blockquote class="p-4 text-lg italic sm:p-1">
      "The best way to predict the future is to create it." — Peter Drucker
    </blockquote>
  </div>
  <button
    [routerLink]="'/app/about-me'"
    nz-button
    [nzSize]="'large'"
    [nzType]="'link'"
    class="flex items-center gap-2 px-5 mt-4 font-medium rounded-lg shadow-sm hover:scale-105 hover:shadow-md"
  >
    <fa-icon [icon]="['fas', 'step-forward']"></fa-icon>
    <span class="transition-opacity duration-300">Home</span>
  </button>
</nz-spin>
