<div
  class="resume-container !max-w-4xl p-8 mx-auto mt-10 relative {{
    userPref.contentBackground
  }} { userPref.themeText } shadow-xl"
>
  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row items-start sm:items-center justify-between pb-4 mb-6 border-b { userPref.themeText }"
  >
    <div class="w-full sm:w-auto">
      <h1
        class="text-4xl font-bold roboto-bold {{ userPref.themeText }} truncate"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        {{ me.name }}
      </h1>
      <p class="mt-2 text-sm {{ userPref.themeText }}">
        <a [href]="'mailto:' + me.email" class="roboto-regular">
          <fa-icon
            [icon]="['fas', 'envelope']"
            class="cursor-pointer"
          ></fa-icon>
          &nbsp;{{ me.email }}
        </a>
        <span> | </span>
        <a [href]="me.telegram" target="_blank" class="roboto-regular">
          <fa-icon
            [icon]="['fab', 'telegram']"
            class="cursor-pointer"
          ></fa-icon>
          &nbsp;Telegram
        </a>
      </p>
    </div>
    <div class="w-full mt-4 text-right sm:w-auto sm:mt-0">
      <p class="text-sm truncate roboto-regular">{{ me.location }}</p>
    </div>
  </div>

  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <p class="text-sm {{ userPref.themeText }} roboto-regular">
      {{ me.aboutMe }}
    </p>
  </section>

  <!-- Skills Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{ userPref.themeText }}"
    >
      Skills & Abilities
    </h2>
    <ul class="pl-5 space-y-1 list-disc">
      <li
        class="roboto-regular"
        *ngFor="let item of me.skills"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        {{ item }}
      </li>
    </ul>
  </section>

  <!-- Education Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{ userPref.themeText }}"
    >
      Education
    </h2>
    <div
      class="mb-6"
      *ngFor="let item of me.education"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <p class="text-lg font-bold roboto-bold">{{ item.title }}</p>
      <p class="text-sm font-semibold roboto-regular">{{ item.content }}</p>
    </div>
  </section>

  <!-- Work Experience Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{ userPref.themeText }}"
    >
      Work Experience
    </h2>
    <div
      class="mb-6"
      *ngFor="let item of me.experiences"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <p
        class="text-lg roboto-bold {{ userPref.themeText }}"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        {{ item.title }}
      </p>
      <p
        class="my-2 text-sm roboto-regular"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        {{ item.date }}
      </p>
      <ul class="pl-5 space-y-1 text-sm list-disc">
        <li class="roboto-regular" data-aos="fade-up" data-aos-duration="1000">
          {{ item.content }}
        </li>
      </ul>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{ userPref.themeText }}"
    >
      Projects
    </h2>
    <ul class="pl-5 space-y-2 text-sm list-disc">
      <li
        *ngFor="let item of me.projects"
        class="py-1 roboto-regular"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <strong class="roboto-bold">{{ item.title }}</strong
        >: {{ item.content }}
      </li>
    </ul>
  </section>

  <!-- Additional Skills Section -->
  <section class="mb-20" data-aos="fade-up" data-aos-duration="1000">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{ userPref.themeText }}"
    >
      Additional Skills
    </h2>
    <ul class="pl-5 space-y-1 list-disc">
      <li
        class="roboto-regular"
        *ngFor="let item of me.additional"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        {{ item }}
      </li>
    </ul>
  </section>
  <footer
    class="absolute bottom-0 left-0 w-full py-4 px-4 transition-opacity duration-300 {{
      userPref.themeBackground
    }} opacity-25 hover:opacity-100 hover:bg-gray-300 group"
  >
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      class="flex flex-wrap items-center justify-center gap-4 transition-opacity duration-300 md:justify-between opacity-15 group-hover:opacity-100"
    >
      <!-- Full Screen Button -->
      <button
        class="p-2 {{ userPref.themeText }} flex items-center space-x-2"
        nz-tooltip="Toggle full screen"
        (click)="toggleFullScreen()"
      >
        <fa-icon
          [icon]="['fas', !isFullScreen ? 'expand' : 'compress']"
        ></fa-icon>
        <span class="hidden text-sm md:inline">{{
          !isFullScreen ? "Full screen" : "Exit full screen"
        }}</span>
      </button>

      <!-- Share Button -->
      <button
        class="p-2 {{ userPref.themeText }} flex items-center space-x-2"
        (click)="showModal()"
      >
        <fa-icon [icon]="['fas', 'share']"></fa-icon>
        <span class="hidden text-sm md:inline">Share</span>
      </button>

      <!-- Toggle Animation Button -->
      <button
        nz-tooltip="On scroll animation"
        class="p-2 {{ userPref.themeText }} flex items-center space-x-2"
        (click)="playOrPauseAos()"
      >
        <fa-icon [icon]="['fas', isDisableAos ? 'pause' : 'play']"></fa-icon>
        <span class="hidden text-sm md:inline">{{
          isDisableAos ? "Pause Animation" : "Play Animation"
        }}</span>
      </button>
    </div>
  </footer>
</div>

<nz-modal
  [(nzVisible)]="shareModalVisible"
  [nzMaskClosable]="true"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
  [nzCentered]="true"
>
  <ng-container *nzModalContent>
    <div class="share-content">
      <!-- Share Buttons -->
      <div class="flex justify-center mt-4 space-x-4 share-buttons">
        <!-- E-mail Share Button -->
        <button
          nz-button
          nz-size="large"
          (click)="shareResume('email')"
          class="w-16 h-16 mr-2 text-white transition duration-300 bg-blue-500 rounded-full hover:bg-blue-600"
        >
          <fa-icon
            [icon]="['fas', 'envelope']"
            class="cursor-pointer fa-2x"
          ></fa-icon>
        </button>

        <!-- Facebook Share Button -->
        <button
          nz-button
          nz-size="large"
          (click)="shareResume('facebook')"
          class="w-16 h-16 mr-2 text-white transition duration-300 bg-blue-500 rounded-full hover:bg-blue-600"
        >
          <fa-icon
            [icon]="['fab', 'facebook']"
            class="cursor-pointer fa-2x"
          ></fa-icon>
        </button>

        <!-- Telegram Share Button -->
        <button
          nz-button
          nz-size="large"
          (click)="shareResume('telegram')"
          class="w-16 h-16 mr-2 text-white transition duration-300 bg-blue-500 rounded-full hover:bg-blue-600"
        >
          <fa-icon
            [icon]="['fab', 'telegram']"
            class="cursor-pointer fa-2x"
          ></fa-icon>
        </button>

        <!-- Add more buttons for other platforms here -->
      </div>

      <!-- Copy to Clipboard -->
      <div class="flex items-center justify-center p-4 mt-4">
        <nz-input-group [nzAddOnAfter]="inputButton">
          <input type="text" nz-input placeholder="url" [value]="url" />
        </nz-input-group>

        <ng-template #inputButton>
          <span class="cursor-pointer" (click)="copyToClipboard(url)"
            >Copy</span
          >
        </ng-template>
      </div>
    </div>
  </ng-container>
</nz-modal>
