<div
  class="resume-container !max-w-4xl p-8 mx-auto mt-10 relative {{
    userPref.contentBackground
  }} { userPref.themeText } shadow-xl"
>
  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row items-start sm:items-center justify-between pb-4 mb-6 border-b {{
      userPref.themeText
    }} border-opacity-30"
  >
    <div class="w-full sm:w-auto">
      <h1
        class="text-4xl font-bold roboto-bold {{ userPref.themeText }} truncate"
        data-aos="zoom-in"
        data-aos-duration="800"
      >
        {{ me.name }}
      </h1>
      <p
        class="mt-2 text-sm {{
          userPref.themeText
        }} flex flex-wrap items-center gap-4"
      >
        <a
          [href]="'mailto:' + me.email"
          class="flex items-center transition-all duration-300 roboto-regular hover:underline"
        >
          <fa-icon
            [icon]="['fas', 'envelope']"
            class="mr-1 cursor-pointer"
          ></fa-icon>
          {{ me.email }}
        </a>
        <a
          [href]="me.telegram"
          target="_blank"
          class="flex items-center transition-all duration-300 roboto-regular hover:underline"
        >
          <fa-icon
            [icon]="['fab', 'telegram']"
            class="mr-1 cursor-pointer"
          ></fa-icon>
          Telegram
        </a>
      </p>
    </div>
    <div class="w-full mt-4 text-right sm:w-auto sm:mt-0">
      <p class="flex items-center justify-end text-sm roboto-regular">
        <fa-icon [icon]="['fas', 'map-marker']" class="mr-1"></fa-icon>
        {{ me.location }}
      </p>
    </div>
  </div>

  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <p class="text-sm {{ userPref.themeText }} roboto-regular">
      {{ me.aboutMe }}
    </p>
  </section>

  <!-- Skills Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{ userPref.themeText }}"
    >
      Skills & Abilities
    </h2>
    <ul class="pl-5 space-y-1 list-disc">
      <li
        class="roboto-regular"
        *ngFor="let item of me.skills"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        {{ item }}
      </li>
    </ul>
  </section>

  <!-- Education Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="800">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{
        userPref.themeText
      }} flex items-center"
    >
      <fa-icon [icon]="['fas', 'graduation-cap']" class="mr-2"></fa-icon>
      Education
    </h2>
    <div
      class="flex mb-6"
      *ngFor="let item of me.education; let i = index"
      [attr.data-aos]="'fade-up'"
      [attr.data-aos-delay]="i * 200"
      data-aos-duration="800"
    >
      <div class="flex-shrink-0 mr-4">
        <div
          class="w-0.5 h-full {{ userPref.themeBackground }} opacity-50 ml-1.5"
        ></div>
      </div>
      <div>
        <p class="text-lg font-bold roboto-bold {{ userPref.themeText }}">
          {{ item.title }}
        </p>
        <p class="text-sm font-semibold roboto-regular opacity-80">
          {{ item.content }}
        </p>
      </div>
    </div>
  </section>

  <!-- Work Experience Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="800">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{
        userPref.themeText
      }} flex items-center"
    >
      <fa-icon [icon]="['fas', 'briefcase']" class="mr-2"></fa-icon>
      Work Experience
    </h2>
    <div
      class="relative mb-6"
      *ngFor="let item of me.experiences; let i = index"
      [attr.data-aos]="'fade-up'"
      [attr.data-aos-delay]="i * 100"
      data-aos-duration="800"
    >
      <div class="flex">
        <div class="flex-shrink-0 mr-4">
          <div
            class="w-0.5 h-full {{
              userPref.themeBackground
            }} opacity-50 ml-1.5"
            *ngIf="i < me.experiences.length"
          ></div>
        </div>
        <div class="flex-grow">
          <div
            class="flex flex-col sm:flex-row sm:justify-between sm:items-center"
          >
            <p class="text-lg roboto-bold {{ userPref.themeText }}">
              {{ item.title }}
            </p>
            <p
              class="text-sm italic opacity-75 roboto-regular"
              *ngIf="item.date"
            >
              {{ item.date }}
            </p>
          </div>
          <div class="pl-0 mt-2">
            <p class="text-sm leading-relaxed roboto-regular">
              {{ item.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{ userPref.themeText }}"
    >
      Projects
    </h2>
    <ul class="pl-5 space-y-2 text-sm list-disc">
      <li
        *ngFor="let item of me.projects"
        class="py-1 roboto-regular"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <strong class="roboto-bold">{{ item.title }}</strong
        >: {{ item.content }}
      </li>
    </ul>
  </section>

  <!-- Additional Skills Section -->
  <section class="mb-20" data-aos="fade-up" data-aos-duration="800">
    <h2
      class="pb-2 mb-4 text-2xl roboto-bold border-b {{
        userPref.themeText
      }} flex items-center"
    >
      <fa-icon [icon]="['fas', 'plus-circle']" class="mr-2"></fa-icon>
      Additional Skills
    </h2>
    <div class="flex flex-wrap gap-2">
      <div
        *ngFor="let item of me.additional; let i = index"
        class="px-3 py-1 text-sm rounded-full bg-slate-300/50 dark:bg-slate-400/50 bg-opacity-20 roboto-regular"
        [attr.data-aos]="'zoom-in'"
        [attr.data-aos-delay]="i * 50"
        data-aos-duration="600"
      >
        {{ item }}
      </div>
    </div>
  </section>

  <footer
    class="absolute bottom-0 left-0 w-full py-4 px-4 transition-opacity duration-300 {{
      userPref.themeBackground
    }} opacity-25 hover:opacity-100 hover:bg-gray-300 group"
  >
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      class="flex flex-wrap items-center justify-center gap-4 transition-opacity duration-300 md:justify-between opacity-15 group-hover:opacity-100"
    >
      <!-- Full Screen Button -->
      <button
        class="p-2 {{ userPref.themeText }} flex items-center space-x-2"
        nz-tooltip="Toggle full screen"
        (click)="toggleFullScreen()"
      >
        <fa-icon
          [icon]="['fas', !isFullScreen ? 'expand' : 'compress']"
        ></fa-icon>
        <span class="hidden text-sm md:inline">{{
          !isFullScreen ? "Full screen" : "Exit full screen"
        }}</span>
      </button>

      <!-- Share Button -->
      <button
        class="p-2 {{ userPref.themeText }} flex items-center space-x-2"
        (click)="showModal()"
      >
        <fa-icon [icon]="['fas', 'share']"></fa-icon>
        <span class="hidden text-sm md:inline">Share</span>
      </button>

      <!-- Toggle Animation Button -->
      <button
        nz-tooltip="On scroll animation"
        class="p-2 {{ userPref.themeText }} flex items-center space-x-2"
        (click)="playOrPauseAos()"
      >
        <fa-icon [icon]="['fas', isDisableAos ? 'pause' : 'play']"></fa-icon>
        <span class="hidden text-sm md:inline">{{
          isDisableAos ? "Pause Animation" : "Play Animation"
        }}</span>
      </button>
    </div>
  </footer>
</div>
<button
  [routerLink]="'/app/blogs'"
  nz-button
  [nzSize]="'large'"
  [nzType]="'link'"
  class="flex items-center gap-2 px-5 mt-4 font-medium rounded-lg shadow-sm hover:scale-105 hover:shadow-md"
>
  <fa-icon [icon]="['fas', 'step-forward']"></fa-icon>
  <span class="transition-opacity duration-300">View Blogs</span>
</button>
<nz-modal
  [(nzVisible)]="shareModalVisible"
  [nzMaskClosable]="true"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
  [nzCentered]="true"
>
  <ng-container *nzModalContent>
    <div class="share-content">
      <!-- Share Buttons -->
      <div class="flex justify-center mt-4 space-x-4 share-buttons">
        <!-- E-mail Share Button -->
        <button
          nz-button
          nz-size="large"
          (click)="shareResume('email')"
          class="w-16 h-16 mr-2 text-white transition duration-300 bg-blue-500 rounded-full hover:bg-blue-600"
        >
          <fa-icon
            [icon]="['fas', 'envelope']"
            class="cursor-pointer fa-2x"
          ></fa-icon>
        </button>

        <!-- Facebook Share Button -->
        <button
          nz-button
          nz-size="large"
          (click)="shareResume('facebook')"
          class="w-16 h-16 mr-2 text-white transition duration-300 bg-blue-500 rounded-full hover:bg-blue-600"
        >
          <fa-icon
            [icon]="['fab', 'facebook']"
            class="cursor-pointer fa-2x"
          ></fa-icon>
        </button>

        <!-- Telegram Share Button -->
        <button
          nz-button
          nz-size="large"
          (click)="shareResume('telegram')"
          class="w-16 h-16 mr-2 text-white transition duration-300 bg-blue-500 rounded-full hover:bg-blue-600"
        >
          <fa-icon
            [icon]="['fab', 'telegram']"
            class="cursor-pointer fa-2x"
          ></fa-icon>
        </button>

        <!-- Add more buttons for other platforms here -->
      </div>

      <!-- Copy to Clipboard -->
      <div class="flex items-center justify-center p-4 mt-4">
        <nz-input-group [nzAddOnAfter]="inputButton">
          <input type="text" nz-input placeholder="url" [value]="url" />
        </nz-input-group>

        <ng-template #inputButton>
          <span class="cursor-pointer" (click)="copyToClipboard(url)"
            >Copy</span
          >
        </ng-template>
      </div>
    </div>
  </ng-container>
</nz-modal>
