<div class="flex items-center justify-center w-full h-screen text-center">
  <app-lottie
    [animationName]="'empty.json'"
    [loop]="false"
    [height]="'max-h-full'"
    [width]="'max-w-full'"
  ></app-lottie>
</div>
<button
  nz-tooltip="I'm currently crafting interesting articles about web development and design.
  Check back soon for updates!"
  class="fixed z-50 flex items-center justify-center w-12 h-12 transition-all rounded-full shadow-md top-24 right-10 hover:scale-105 hover:shadow-xl dark:bg-gray-600/50 bg-gray-200/50"
>
  <fa-icon
    [icon]="['fas', 'circle-info']"
    class="text-2xl transition-all duration-200"
  ></fa-icon>
</button>
