<nz-layout class="w-full h-full theme-transition">
  <!-- Sidebar -->
  <nz-sider
    *ngIf="!isHeaderLayout"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    class="sticky h-full overflow-x-hidden overflow-y-auto transition-all duration-500 ease-in-out hidden md:block {{
      !isCollapsed ? '!min-w-60' : ''
    }}"
    [ngClass]="[themeBackground]"
  >
    <div
      class="py-4 transition-all duration-500 ease-in-out"
      [ngClass]="{ 'py-2': isCollapsed, 'py-4': !isCollapsed }"
    >
      <div class="font-semibold text-start">
        <span
          nz-icon
          nzType="{{ !isCollapsed ? 'left-circle' : 'right-circle' }}"
          nzTheme="outline"
          class="p-2 transition-all duration-300 rounded cursor-pointer hover:scale-110"
          [ngClass]="[themeText]"
          (click)="toggleSidebar()"
        ></span>
      </div>
      <nz-divider
        [nzText]="isCollapsed ? '403' : 'AOK PONLORK'"
        class="!border-black dark:!border-white text-center transition-opacity duration-500 ease-in-out"
        [nzDashed]="true"
        [ngClass]="[themeText, isCollapsed ? 'opacity-50' : 'opacity-100']"
      ></nz-divider>

      <a
        [routerLink]="'/app/about-me'"
        class="flex flex-row items-center justify-center gap-2 px-3"
      >
        <app-lottie
          animationName="logo.json"
          [width]="'w-full max-w-md md:max-w-full'"
          [height]="'h-auto md:h-full'"
        ></app-lottie>
      </a>
    </div>

    <div
      *ngIf="!isCollapsed"
      class="p-2 transition-opacity duration-500 ease-in-out"
      [ngClass]="{ 'opacity-100': !isCollapsed, 'opacity-0': isCollapsed }"
    >
      <blockquote
        class="justify-center mb-4 text-center theme-transition"
        [ngClass]="themeText"
      >
        Created by a
        <span class="font-bold">Man United</span> fan.
      </blockquote>
      <div class="flex justify-center gap-3">
        <a *ngFor="let item of icons" target="_blank" href="{{ item.link }}">
          <fa-icon
            [icon]="['fab', item.icon]"
            [ngClass]="[themeText]"
            class="text-2xl transition-all duration-500 ease-in-out cursor-pointer"
          ></fa-icon>
        </a>
      </div>
    </div>

    <nz-divider
      class="px-2 transition-all duration-500 ease-in-out border-gray-900 dark:border-white"
      [nzDashed]="true"
    ></nz-divider>

    <ul
      nz-menu
      nzMode="inline"
      [ngClass]="[themeBackground, 'me-1, border-none']"
    >
      <li
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        nz-menu-item
        nzMatchRouter
        routerLinkActive="active"
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed !== false ? item.tooltip : ''"
        class="py-2 dark:ant-menu-item-selected transition-all duration-500 ease-in-out {{
          themeText
        }}"
        [ngClass]="{
          'translate-x-0 ': !isCollapsed,
          '-translate-x-2 ': isCollapsed
        }"
      >
        <fa-icon
          [icon]="[item.type === 'brand' ? 'fab' : 'fas', item.icon]"
          class="transition-transform duration-500 ease-in-out"
          [ngClass]="{
            themeText,
            'mr-3 scale-100': !isCollapsed,
            'mr-1 scale-75': isCollapsed
          }"
        ></fa-icon>
        <span
          class="transition-opacity duration-500 ease-in-out"
          [ngClass]="{ 'opacity-100': !isCollapsed, 'opacity-0': isCollapsed }"
        >
          {{ item.label }}
        </span>
      </li>
    </ul>
  </nz-sider>

  <!-- Main Layout -->
  <nz-layout [ngClass]="[contentBackground]">
    <!-- Header -->
    <nz-header
      *ngIf="isHeaderLayout"
      [ngClass]="[
        themeBackground,
        themeText,
        'flex items-center justify-center px-4 py-2 transition-all duration-300 ease-in-out',
        isScrolled
          ? ''
          : 'my-8 mx-20 shadow-xl dark:shadow-none shadow-slate-300'
      ]"
    >
      <!-- Desktop Menu -->
      <ul class="hidden gap-8 cursor-pointer md:flex">
        <li
          *ngFor="let item of menuItems"
          routerLinkActive="active px-4"
          [routerLink]="item.route"
          class="flex items-center gap-2 transition-transform duration-300 hover:scale-105"
        >
          <fa-icon [icon]="['fas', item.icon]"></fa-icon>
          {{ item.label }}
        </li>
      </ul>

      <!-- Mobile Menu Button -->
      <button
        class="md:hidden text-xl p-2 rounded transition-transform duration-300 hover:scale-110 {{
          themeText
        }} self-end ml-auto flex-col items-center justify-center"
        (click)="toggleMobileMenu()"
      >
        <fa-icon
          [icon]="mobileMenuOpen ? ['fas', 'times'] : ['fas', 'bars']"
        ></fa-icon>
      </button>
    </nz-header>

    <!-- Mobile Dropdown Menu -->
    <div
      class="md:hidden absolute {{
        isScrolled ? 'top-16' : 'top-24'
      }} left-0 w-full flex flex-col items-center p-4 transition-all duration-300 ease-[cubic-bezier(0.68,-0.55,0.27,1.55)] {{
        themeBackground
      }} {{ themeText }} z-50"
      [ngClass]="{
        'opacity-100 translate-y-0': mobileMenuOpen,
        'opacity-0 translate-y-10': !mobileMenuOpen,
      }"
    >
      <ul class="flex flex-col w-full gap-4 text-center" *ngIf="mobileMenuOpen">
        <li
          *ngFor="let item of menuItems"
          [routerLink]="item.route"
          routerLinkActive="active"
          (click)="mobileMenuOpen = !mobileMenuOpen"
          class="w-full py-2 rounded cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-700"
        >
          <fa-icon [icon]="['fas', item.icon]"></fa-icon>
          {{ item.label }}
        </li>
      </ul>
    </div>

    <!-- Content Area -->
    <nz-content
      #mainContainer
      id="main-container"
      [ngClass]="[
        themeText,
        contentBackground,
        '!h-full p-4 theme-transition flex flex-col'
      ]"
      (scroll)="isHeaderLayout ? onScroll($event) : refreshAos()"
    >
      <div class="flex flex-col flex-grow w-full">
        <router-outlet></router-outlet>
      </div>

      <!-- Footer -->
      <div class="px-4 py-3 mt-auto">
        <nz-divider
          class="!w-full transition-all duration-500 ease-in-out border-gray-900 dark:border-white"
          [nzDashed]="true"
        ></nz-divider>
        <div class="flex items-center justify-between">
          <!-- Left side with copyright -->
          <div [ngClass]="[themeText]" class="font-medium">
            AOK PONLORK ©{{ currentYear }}
          </div>

          <!-- Right side with toggle button -->
          <button
            [nz-tooltip]="'Only visible in dark mode'"
            [ngClass]="[themeText]"
            (click)="toggleMosueGlowingEffect()"
            class="flex items-center gap-x-2"
          >
            <fa-icon
              [icon]="[
                'fas',
                userPref.isMouseGlowingEffect.value
                  ? 'wand-magic-sparkles'
                  : 'wand-magic'
              ]"
              class="transition-all duration-200"
            ></fa-icon>
            <span class="text-sm font-medium">
              {{
                userPref.isMouseGlowingEffect.value
                  ? "Disable Light Effect"
                  : "Enable Light Effect"
              }}
            </span>
          </button>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<!-- Floating -->
<button
  class="fixed z-50 flex items-center justify-center w-12 h-12 transition-all rounded-full shadow-md bottom-14 right-10 hover:scale-105 hover:shadow-xl"
  (click)="toggleMenu()"
  [ngClass]="{
    'bg-gray-200': !userPref.isDarkTheme.value,
    'bg-gray-300': userPref.isDarkTheme.value
  }"
>
  <span nz-icon [nzType]="!settingMenuButton ? 'menu' : 'close'"></span>
</button>
<div
  class="fixed z-40 flex flex-col transition-all duration-300 bottom-28 right-10"
  [class.opacity-100]="settingMenuButton"
  [class.opacity-0]="!settingMenuButton"
  [class.scale-100]="settingMenuButton"
  [class.scale-95]="!settingMenuButton"
  [hidden]="!settingMenuButton"
>
  <!-- Header layout button -->
  <button
    class="flex items-center justify-center w-12 h-12 mb-2 transition-all rounded-full shadow-md hover:scale-105 hover:shadow-xl"
    [nz-tooltip]="settingMenuButton ? 'Toggle Header' : ''"
    [ngClass]="{
      'bg-gray-200': !userPref.isDarkTheme.value,
      'bg-gray-300': userPref.isDarkTheme.value
    }"
    (click)="toggleHeader()"
  >
    <app-lottie
      [animationName]="'toggle-header.json'"
      width="80px"
      height="80px"
      [loop]="true"
      [loopDelay]="700"
    ></app-lottie>
  </button>
  <!-- Theme Button -->
  <button
    class="flex items-center justify-center w-12 h-12 transition-all rounded-full shadow-md hover:scale-105 hover:shadow-xl"
    (click)="toggleTheme()"
    [nz-tooltip]="
      !settingMenuButton
        ? ''
        : !userPref.isDarkTheme.value
        ? 'Switch to dark theme'
        : 'Switch to light theme'
    "
    [ngClass]="{
      'bg-gray-200': !userPref.isDarkTheme.value,
      'bg-gray-300': userPref.isDarkTheme.value
    }"
  >
    <app-lottie
      #themeAnimation
      [animationName]="!userPref.isDarkTheme.value ? 'dark.json' : 'light.json'"
      width="50px"
      height="50px"
      [loop]="true"
      [loopDelay]="700"
    ></app-lottie>
  </button>
</div>

<!-- <button
  class="fixed z-50 flex items-center justify-center w-12 h-12 transition-all rounded-full shadow-md top-10 right-10 hover:scale-105 hover:shadow-xl"
  nz-button
  nz-popover
  nzPopoverTitle="Title"
  [nzPopoverContent]="contentTemplate"
  nzPopoverPlacement="topLeft"
>
  TL
</button>
<ng-template #contentTemplate>
  <div>
    <p>Content</p>
    <p>Content</p>
  </div>
</ng-template> -->
<div
  class="mouse-spotlight"
  *ngIf="
    isMouseMoving &&
    userPref.isDarkTheme.value &&
    userPref.isMouseGlowingEffect.value
  "
></div>
