.ant-menu-item-selected {
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.ant-menu-item {
  @apply transition-all duration-300 ease-in-out;
}

.ant-menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.active {
  @apply font-bold text-gray-800 transition-all duration-300 ease-in-out bg-gray-300 dark:bg-gray-600 dark:text-white;
}

.mouse-spotlight {
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(
    circle,
    rgba(60, 60, 255, 0.22) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 50;
  border-radius: 50%;
  animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1); /* Return to normal size */
    opacity: 1;
  }
}
.mouse-ripple {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  animation: ripple 0.6s ease-out;
  z-index: 99;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
