<div
  class="relative max-w-5xl mx-auto mt-10 overflow-hidden border rounded-md shadow-xl {{
    userPref.themeBackground
  }}"
>
  <!-- Header with Profile Image -->
  <div class="p-6 {{ userPref.themeBackground }}">
    <div
      class="flex flex-col items-start justify-between p-2 sm:flex-row sm:items-center"
    >
      <!-- Profile Image & Name Section -->
      <div
        class="flex flex-col items-center w-full gap-4 sm:flex-row sm:w-auto"
      >
        <div
          class="overflow-hidden transition-all duration-300 transform border-4 border-white rounded-full shadow-lg w-28 h-28 hover:scale-105"
          data-aos="fade-right"
          data-aos-duration="800"
        >
          <div class="relative w-full h-full">
            <img
              alt="Profile Picture"
              class="object-cover w-full h-full"
              [src]="me.image"
              (click)="onPreviewImage(me.image)"
            />
            <nz-spin
              *ngIf="isImageLoading"
              class="absolute inset-0 flex items-center justify-center {{
                userPref.contentBackground
              }}"
              [nzSpinning]="isImageLoading"
            ></nz-spin>
          </div>
        </div>

        <div>
          <h1
            class="text-4xl font-extrabold {{ userPref.themeText }}"
            data-aos="zoom-in"
            data-aos-duration="800"
            style="text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3)"
          >
            {{ me.name }}
          </h1>
          <p
            class="flex flex-wrap items-center gap-4 mt-2 text-sm {{
              userPref.themeText
            }}"
          >
            <a
              href="mailto:{{ me.email }}"
              class="flex items-center transition-all duration-300 hover:opacity-80"
            >
              <fa-icon
                [icon]="['fas', 'envelope']"
                class="mr-1 cursor-pointer"
              ></fa-icon>
              {{ me.email }}
            </a>
            <a
              href="{{ me.telegram }}"
              target="_blank"
              class="flex items-center transition-all duration-300 hover:opacity-80"
            >
              <fa-icon
                [icon]="['fab', 'telegram']"
                class="mr-1 cursor-pointer"
              ></fa-icon>
              Telegram
            </a>
          </p>
        </div>
      </div>
      <div class="w-full mt-4 text-right sm:w-auto sm:mt-0">
        <p class="flex items-center justify-end text-sm">
          <fa-icon [icon]="['fas', 'map-marker']" class="mr-1"></fa-icon>
          {{ me.location }}
        </p>
      </div>
    </div>
  </div>

  <div class="p-8 {{ userPref.themeBackground }}">
    <!-- About Me Section -->
    <section class="mb-8" data-aos="fade-up" data-aos-duration="1000">
      <p class="text-sm {{ userPref.themeText }}" [innerHTML]="me.aboutMe"></p>
    </section>

    <!-- Skills Section -->
    <section class="mb-10" data-aos="fade-up" data-aos-duration="1000">
      <h2
        class="flex items-center pb-2 mb-4 text-2xl font-bold border-b"
        [ngClass]="userPref.themeText"
      >
        <fa-icon [icon]="['fas', 'tools']" class="mr-2"></fa-icon>
        Skills & Abilities
      </h2>
      <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
        <div
          class="px-4 py-3 text-sm font-medium {{
            userPref.themeText
          }} transition-all duration-300 rounded-lg shadow-sm hover:shadow-md"
          [ngClass]="userPref.contentBackground"
          *ngFor="let item of me.skills"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          {{ item }}
        </div>
      </div>
    </section>

    <!-- Certifications Section -->
    <section class="mb-8" data-aos="fade-up" data-aos-duration="800">
      <h2
        class="flex items-center pb-2 mb-4 text-2xl font-bold"
        [ngClass]="userPref.themeText"
      >
        <fa-icon [icon]="['fas', 'certificate']" class="mr-2"></fa-icon>
        Certifications
      </h2>

      <!-- Certification Carousel -->
      <div class="certification-carousel">
        <nz-carousel nzAutoPlay [nzDots]="null" [nzAutoPlaySpeed]="2000">
          <div nz-carousel-content *ngFor="let cert of certificationArray">
            <div
              class="flex flex-col items-center overflow-hidden transition-shadow duration-300 {{
                userPref.contentBackground
              }} rounded-lg shadow-md md:flex-row md:items-start hover:shadow-lg"
            >
              <!-- Certificate Image -->
              <div
                class="w-full h-48 overflow-hidden cursor-pointer md:w-1/3"
                (click)="onPreviewImage(cert.imageUrl)"
              >
                <img
                  [src]="cert.imageUrl"
                  [alt]="cert.title"
                  class="object-cover w-full h-full transition-transform duration-500 hover:scale-105"
                />
              </div>

              <!-- Certificate Info -->
              <div class="w-full p-4 md:w-2/3">
                <h3 class="text-xl font-bold" [ngClass]="userPref.themeText">
                  {{ cert.title }}
                </h3>
                <p class="text-sm {{ userPref.themeText }}">
                  <span class="block">Issued by: {{ cert.issuer }}</span>
                  <span class="block mt-1">Date: {{ cert.date }}</span>
                </p>
                <button
                  (click)="viewCertification(cert)"
                  class="px-4 py-2 mt-4 {{
                    userPref.themeText
                  }} transition-opacity duration-300 rounded-md hover:opacity-90"
                  [ngClass]="userPref.themeBackground"
                >
                  View Details
                </button>
              </div>
            </div>
          </div>
        </nz-carousel>
      </div>
    </section>

    <!-- Education Section -->
    <section class="mb-10" data-aos="fade-up" data-aos-duration="500">
      <h2
        class="flex items-center pb-2 mb-6 text-2xl font-bold"
        [ngClass]="userPref.themeText"
      >
        <fa-icon [icon]="['fas', 'graduation-cap']" class="mr-2"></fa-icon>
        Education
      </h2>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div
          class="p-4 transition-all duration-300 {{
            userPref.contentBackground
          }} rounded-lg hover:shadow-lg"
          *ngFor="let item of me.education; let i = index"
          [attr.data-aos]="'fade-up'"
          [attr.data-aos-delay]="i * 200"
          data-aos-duration="800"
        >
          <p class="text-lg font-bold {{ userPref.themeText }}">
            {{ item.title }}
          </p>
          <p class="text-sm font-medium {{ userPref.themeText }}">
            {{ item.content }}
          </p>
        </div>
      </div>
    </section>

    <!-- Work Experience Section -->
    <section class="mb-10" data-aos="fade-up" data-aos-duration="800">
      <h2
        class="flex items-center pb-2 mb-6 text-2xl font-bold"
        [ngClass]="userPref.themeText"
      >
        <fa-icon [icon]="['fas', 'briefcase']" class="mr-2"></fa-icon>
        Work Experience
      </h2>
      <div
        class="relative p-5 mb-6 transition-all duration-300  {{
          userPref.contentBackground
        }} rounded-lg hover:shadow-lg backdrop-blur-lg opacity-5"
        *ngFor="let item of me.experiences; let i = index"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="i * 100"
        data-aos-duration="800"
      >
        <div
          class="flex flex-col mb-2 sm:flex-row sm:justify-between sm:items-center"
        >
          <p class="text-lg font-bold" [ngClass]="userPref.themeText">
            {{ item.title }}
          </p>
          <p
            class="px-3 py-1 text-sm {{ userPref.themeText }} rounded-full"
            *ngIf="item.date"
            [ngClass]="userPref.themeBackground"
          >
            {{ item.date }}
          </p>
        </div>
        <div>
          <p class="text-sm leading-relaxed {{ userPref.themeText }} ">
            {{ item.content }}
          </p>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section class="mb-10" data-aos="fade-up" data-aos-duration="1000">
      <h2
        class="flex items-center pb-2 mb-6 text-2xl font-bold"
        [ngClass]="userPref.themeText"
      >
        <fa-icon [icon]="['fas', 'project-diagram']" class="mr-2"></fa-icon>
        Projects
      </h2>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div
          *ngFor="let item of me.projects; let i = index"
          class="p-5 transition-all duration-300 {{
            userPref.contentBackground
          }} rounded-lg hover:shadow-lg"
          [attr.data-aos]="'fade-up'"
          [attr.data-aos-delay]="i * 100"
          data-aos-duration="1000"
        >
          <h3
            class="mb-2 text-lg font-bold {{ userPref.themeText }}"
            [ngClass]="userPref.themeText"
          >
            {{ item.title }}
          </h3>
          <p class="text-sm {{ userPref.themeText }}">{{ item.content }}</p>
        </div>
      </div>
    </section>

    <!-- Additional Skills Section -->
    <section class="mb-12" data-aos="fade-up" data-aos-duration="800">
      <h2
        class="flex items-center pb-2 mb-6 text-2xl font-bold"
        [ngClass]="userPref.themeText"
      >
        <fa-icon [icon]="['fas', 'plus-circle']" class="mr-2"></fa-icon>
        Additional Skills
      </h2>
      <div class="grid gap-3 grid-cols md:grid-cols-2">
        <div
          *ngFor="let item of me.additional; let i = index"
          class="flex items-center gap-2 px-4 py-2 rounded-lg {{
            userPref.themeText
          }}  transition-all duration-300 {{ userPref.contentBackground }}"
          [attr.data-aos]="'zoom-in'"
          [attr.data-aos-delay]="i * 50"
          data-aos-duration="600"
        >
          <nz-icon
            [ngClass]="userPref.themeText"
            [nzType]="item.isProcessing ? 'sync' : 'check-circle'"
            [nzSpin]="item.isProcessing"
          ></nz-icon>
          <span>{{ item.title }}</span>
        </div>
      </div>
    </section>
    <section
      data-aos="fade-up"
      data-aos-duration="800"
      class="p-4 rounded-lg bg-white/10 backdrop-blur-2xl"
    >
      <div class="flex flex-col justify-evenly sm:flex-row">
        <a
          href="{{ tracker }}"
          target="_blank"
          class="flex items-center transition-all duration-300 hover:opacity-80"
        >
          <fa-icon
            [icon]="['fas', 'gamepad']"
            class="mr-2 cursor-pointer"
          ></fa-icon>
          Game
        </a>
        <a
          href="https://www.youtube.com/watch?v=Q-JD_jQR-8U"
          target="_blank"
          class="flex items-center transition-all duration-300 hover:opacity-80"
        >
          <fa-icon
            [icon]="['fas', 'music']"
            class="mr-2 cursor-pointer"
          ></fa-icon>
          That one song's stuck in my head!
        </a>
      </div>
    </section>
  </div>
</div>
