@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Font Classes */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* Apply globally */
* {
  font-family: "Space Mono", monospace;
}
/* styles.css or styles.scss */
.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
:root {
  --selection-bg: #1E90FF ;
}
/* Apply text selection highlight color */
::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
  transition: background-color 0.3s ease-in-out;
}
