@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Font Classes */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* Roboto font for specific use */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Apply globally */
* {
  font-family: "Space Mono", monospace;
}
html,
body {
  overflow: hidden;
}

nz-content {
  overflow-y: auto; /* Enable scroll within the content */
  height: 100vh; /* Make sure content takes up full viewport height */
  position: relative; /* Ensure scroll area behaves correctly */
}
/* styles.css or styles.scss */
.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
:root {
  --selection-bg: #1e90ff;
}
/* Apply text selection highlight color */
::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
  transition: background-color 0.3s ease-in-out;
}

/* Add the styles for light and dark themes as described earlier */

/* Default scrollbar for light theme */
/* body:not(.dark-mode) ::-webkit-scrollbar {
  width: 8px;
}

body:not(.dark-mode) ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

body:not(.dark-mode) ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

/* Dark theme scrollbar */
/* body.dark-mode ::-webkit-scrollbar {
  width: 8px;
}

body.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
}

body.dark-mode ::-webkit-scrollbar-track {
  background-color: #222;
} */
